<p>
  <b>Person:</b>
  <%=h @membership.person %>
</p>

<p>
  <b>Group:</b>
  <%=h @membership.group %>
</p>


<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
